<div class="projects-container">

	<h1>Work Experience</h1>

<!-- B2B Platforms -->
	<div class="addSpace"></div>

	<div class="container">
        <div class="row">
            <div class="col-md-6">
			<h2 class="smaller">ATDOnline | TireProsOnline | NTDConnect</h2>
			<p>I undertook a multifaceted role in elevating the digital footprint of ATDOnline, TireProsOnline, and NTDConnect, our primary B2B platforms. This encompassed adeptly overseeing marketing content, serving as the go-to authority for all CMS-related matters, and taking the lead on diverse frontend initiatives. Key callouts:</p>

			<ul>
				<li>Collaborated closely with backend developers to design and develop dynamic frontend experiences that improve user interactions and content delivery.</li>
				<li>Partnered with designers to create engaging landing pages to enhance user engagement.</li>
				<li>Developed complex and targeted marketing experiences to cater to diverse audience segments, including dynamic translations for our French Canadian users.</li>
				<li>Designed and executed various A/B tests, including enhancements like new header menus and cart previews, to refine the UX/UI and boost user satisfaction.</li>
				<li>Conducted A/B testing on marketing ads to refine advertising campaigns and maximize their effectiveness.</li>
				<li>Implemented GA tagging and analytics on all content to gather insights and drive data-driven decision-making.</li>
				<li>Assisted with SEO efforts, including image optimization and tagging, updating meta data, and selecting keywords to enhance website visibility and search rankings.</li>
				<li>Implemented and managed marketing and sales data using ImpEx files, ensuring data consistency and accuracy.</li>
				<li>Managed all product imagery and mapping within multiple systems to ensure accurate product listings.</li>
				<li>Handled all user/location and site-level configurations, such as user/location restrictions, and overall site features.</li>
				<li>Provided second-tier support for quick bug fixes, addressing issues promptly and facilitating their integration into the regular release schedule.</li>
				<li>Served as the primary onboarding resource for new team members, providing training and guidance on complex content management systems (CMS) and digital asset management (DAM) tools.</li>
				

			</ul>
			<h3>Web Tech Stack:</h3>
			<div class="development-tools"><div class="tool-bubble">HTML5</div><div class="tool-bubble">CSS</div><div class="tool-bubble">JavaScript</div><div class="tool-bubble">jQuery</div><div class="tool-bubble">ImpEx</div><div class="tool-bubble">SQL</div><div class="tool-bubble">AJAX</div><div class="tool-bubble">JSON</div><div class="tool-bubble">HMC</div><div class="tool-bubble">WCMS</div><div class="tool-bubble">GTM</div><div class="tool-bubble">GA</div></div>

			
            </div>
            <div class="col-md-6">
                <div class="images-container"><img src="assets/images/b2b-websites-laptop.gif" alt="ATDOnline Desktop"></div>
            </div>
        </div>
    </div>


<!-- ATD -->
<div class="color-strip">
    <div class="container">
        <div class="row">            


        	<div class="col-md-6">
                <div class="images-container"><img src="assets/images/atd-responsive.png" alt="ATD Mobile Desktop"></div>
            </div>
            <div class="col-md-6">
			<a target="_blank" href="https://www.atd.com/"><h2>ATD.com</h2></a>
			<p>As the lead web producer and content manager, I oversaw all content updates through a dedicated CMS, ensuring that the site's information remained up-to-date and engaging. My contributions as the primary web producer were instrumental in maintaining the website's dynamic frontend content and CMS updates. Key callouts: </p>

			<ul>
				
				<li>Managed and updated all content through a dedicated CMS to ensure its accuracy and relevance.</li>
				<li>Acted as the go-to frontend developer for the creation of responsive landing pages, enhancing user experience.</li>
				<li>Designed engaging homepage heroes for various events and campaigns, capturing the essence of each initiative.</li>
				<li>Coordinated a complex press release process, which included ImpEx files to speed up production, as these were often given to us on a tight deadline.</li>
				<li>Assisted with SEO efforts, including image optimization and tagging, updating meta data, and selecting keywords to enhance website visibility and search rankings.</li>
				<li>Provided frontend support for quick bug fixes, addressing issues promptly and facilitating their integration into the regular release schedule.</li>
			</ul>
			<h3>Web Tech Stack:</h3>
			<div class="development-tools"><div class="tool-bubble">HTML5</div><div class="tool-bubble">CSS</div><div class="tool-bubble">JavaScript</div><div class="tool-bubble">jQuery</div><div class="tool-bubble">ImpEx</div><div class="tool-bubble">SEO</div><div class="tool-bubble">SAP</div><div class="tool-bubble">Drupal</div></div>

			
            </div>

        </div>
    </div>
</div>


<!-- Tire Pros -->
<div class="addSpace"></div>
	<div class="container">
        <div class="row">
            <div class="col-md-6">
			<a target="_blank" href="https://www.tirepros.com/"><h2>Tire Pros</h2></a>
			<p>I served as the sole admin for all content updates, ensuring that the site's information remained perpetually up-to-date and engaging. My responsibilities extended beyond mere content management – I served as the go-to frontend developer, leveraging my expertise in Bitbucket for version control to guarantee seamless collaboration and precise code management. Moreover, my creative input and technical acumen played a crucial role in constructing dynamic marketing experiences that vastly improved content scheduling and enhanced user engagement. Key callouts: </p>

			<ul>
			
				<li>I spearheaded the creation of responsive landing pages, ensuring a seamless user experience and consistent visual appeal.</li>
				<li>Managed and updated all content through a dedicated CMS to ensure its accuracy and relevance.</li>
				<li>I played a pivotal role in elevating the overall marketing experience. This involved the reconstruction of web pages, content slots, and components to facilitate the scheduling and deployment of marketing materials, resulting in a more strategic and efficient content delivery process.</li>
				<li>Assisted with SEO efforts, including image optimization and tagging, updating meta data, and selecting keywords to enhance website visibility and search rankings.</li>
				<li>Provided frontend support for quick bug fixes, addressing issues promptly and facilitating their integration into the regular release schedule.</li>

			</ul>
			<h3>Web Tech Stack:</h3>
			<div class="development-tools"><div class="tool-bubble">HTML5</div><div class="tool-bubble">CSS</div><div class="tool-bubble">JavaScript</div><div class="tool-bubble">jQuery</div><div class="tool-bubble">ImpEx</div><div class="tool-bubble">Bitbucket</div></div>

            </div>
            <div class="col-md-6">
                <div class="images-container"><img src="assets/images/tp-responsive.png" alt="TP Mobile Desktop"></div>
            </div>
        </div>
    </div>


<!-- NTDCanada -->

<div class="color-strip">
    <div class="container">
        <div class="row">            


        	<div class="col-md-6">
                <div class="images-container"><img src="assets/images/ntdcanada-responsive.png" alt="NTDCanada Mobile Desktop"></div>
            </div>
            <div class="col-md-6">
			<a target="_blank" href="https://www.NTDCanada.com/"><h2>NTDCanada</h2></a>
			<p>For NTDCanada, I had the privilege of taking on a multifaceted role that encompassed both website management and frontend development. I served as the primary point of contact with the NTD team, orchestrating collaborative efforts and successfully aligning them into a well-defined release schedule. This streamlined approach ensured synchronized marketing activities and effective content delivery. Key callouts:</p>
			<ul>
				<li>Managed and updated all content through a dedicated CMS to ensure its accuracy and relevance.</li>
				<li>Acted as the go-to frontend developer for the creation of responsive landing pages, enhancing user experience.</li>
				<li>Designed engaging homepage heroes for various events and campaigns, capturing the essence of each initiative.</li>
				<li>Coordinated a complex press release process, which included ImpEx files to speed up production, as these were often given to us on a tight deadline.</li>
				<li>Assisted with SEO efforts, including image optimization and tagging, updating meta data, and selecting keywords to enhance website visibility and search rankings.</li>
				<li>Provided frontend support for quick bug fixes, addressing issues promptly and facilitating their integration into the regular release schedule.</li>
				
				<li>Managing the French Canadian version of the website added a second layer of complexity. This encompassed not only content translation but also custom CSS adjustments to accommodate variations in character count and maintain a consistent and visually appealing user experience for our diverse audience.</li>
			</ul>

			<h3>Web Tech Stack:</h3>
			<div class="development-tools"><div class="tool-bubble">HTML5</div><div class="tool-bubble">CSS</div><div class="tool-bubble">JavaScript</div><div class="tool-bubble">jQuery</div><div class="tool-bubble">ImpEx</div><div class="tool-bubble">SEO</div><div class="tool-bubble">SAP</div></div>


            </div>

        </div>
    </div>
</div>


<!-- CRCHC -->


</div>