.images-container img {
    width: 100%;
}

.color-strip {
    background: var(--off-white);
    padding: 20px 0;
}

.images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.projects-container h1 {
    text-align: center;
    margin-top: 25px;
}

.development-tools {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;
}

.tool-bubble {
    border: 1px solid var(--my-blue);
    background-color: #0a52944f;
    border-radius: 20px;
    width: 125px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--my-blue);
    margin: 5px;
}
