<div class="projects-container">

	<h1>Projects</h1>

<!-- Delivery Tracker -->
	<div class="addSpace"></div>


	<div class="container">
    <div class="row">
      <div class="col">
        <!-- Content for the single column goes here -->
        <h2>Order Status Tracker for B2B Websites</h2>
			<h3>Codename: Pizza Tracker</h3>
	
	<p><strong>Objective:</strong> The 'Pizza Tracker' project aimed to develop a fully functional order tracking system that would prominently appear at the top of each order on the order history page. This dynamic component was designed to enhance the user experience and provide real-time updates on order progress.</p>

<p><strong>Challenges:</strong> Building the 'Pizza Tracker' presented several challenges, including the need to create a dynamic and responsive component that could adapt to various states and dependencies. Collaboration with backend developers was crucial to ensure seamless integration with the backend systems responsible for order processing and status updates.</p>
<p><strong>Key Achievements:</strong><br></p>
<ul>
<li><strong>Dynamic Component:</strong> The 'Pizza Tracker' component was successfully created, providing a dynamic and interactive user interface that displayed real-time order status updates.</li>

<li><strong>Collaboration with Backend:</strong> Effective collaboration with backend developers ensured that the 'Pizza Tracker' seamlessly communicated with backend systems to retrieve and display accurate order status information.</li>

<li><strong>Integration with High-Traffic Websites:</strong> The 'Pizza Tracker' component was implemented across some of the highest-traffic B2B websites, demonstrating its scalability and reliability.</li>

<li><strong>Error-Free Launch:</strong> The project resulted in a smooth and error-free launch, enhancing the overall user experience for customers tracking their orders.</li>
</ul>
      </div>
    </div>
  </div>

	<div class="container">
        <div class="row">
            <div class="col-md-6">
			


<p>The 'Pizza Tracker' project exemplified successful teamwork and innovation, delivering a dynamic and user-friendly order tracking solution that greatly benefited the company's B2B websites. This project showcased the ability to overcome complex challenges and deliver a robust and reliable solution to meet customer needs.</p>
			<h3>Frontend Stack:</h3>
			<div class="development-tools"><div class="tool-bubble">HTML5</div><div class="tool-bubble">CSS</div><div class="tool-bubble">JavaScript</div><div class="tool-bubble">jQuery</div></div>

			
            </div>
            <div class="col-md-6">
                	<div class="images-container">
		<img class="pizza-gif" src="/assets/images/pizzaTracker.gif">
		<div class="image-caption">*This component appeared at the top of every order confirmation page.
	</div>

            </div>
        </div>
    </div>
</div>


<!-- PILOT PROJECT -->
<div class="color-strip">


	<div class="container">
    <div class="row">
      <div class="col">
<a target="_blank" href="https://www.atd.com/"><h2>Pilot Project</h2></a>
			<p>In this project, I played a pivotal role in the preparations for a significant pilot website launch, introducing an enhanced B2B platform to a select group of users. The project encompassed a multifaceted approach, where I was responsible for crafting various pieces of marketing content, involving custom frontend development tailored to UX/UI designs. This included the implementation of custom targeting mechanisms, employing JavaScript to intelligently parse through customer data variables provided by our backend developers.</p>

			<p>One of the standout elements of this project was the development of a sophisticated redirect experience. I was tasked with creating a mechanism to detect pilot users and seamlessly transition their experience. This involved the prevention of default login submission, followed by the presentation of a user-friendly notification message, and, most importantly, the smooth redirection to the new, upgraded website.</p>

      </div>
  </div>
</div>


    <div class="container">
        <div class="row">            


        	<div class="col-md-6">
                <div class="images-container screenshot"><img src="assets/images/redirect-screenshot.png" alt="TireProsOnline Redirect Experience"></div>
            </div>
            <div class="col-md-6">
			

			<p><strong>Challenges:</strong> The challenges encountered during the development of the redirect experience primarily revolved around working with the default login functionality. The primary objective was to guarantee a successful user login before initiating the redirection to the new website. This involved navigating and troubleshooting various intricacies associated with the default login mechanism, ensuring a seamless and secure transition for the users.</p>
			
			<p><strong>Key Achievements:</strong> The primary milestone and key achievement of this project revolved around the successful implementation of the redirect experience. This aspect was pivotal in ensuring the product launch's success, as it directly impacted the user journey and overall effectiveness of the transition to the new website.<br>

			<h3>Frontend Stack:</h3>
			<div class="development-tools"><div class="tool-bubble">HTML5</div><div class="tool-bubble">CSS</div><div class="tool-bubble">JavaScript</div><div class="tool-bubble">jQuery</div></div>

			
            </div>

        </div>
    </div>
</div>

<!-- GSF PROJECT -->
	<div class="addSpace"></div>

	<div class="container">
    <div class="row">
      <div class="col">
        <!-- Content for the single column goes here -->
        <h2>Gary Sinise Foundation Project</h2>
			<h3>Codename: GSF</h3>
	
	<p><strong>Objective: </strong>The Gary Sinise Foundation project encompassed a multifaceted approach, with landing pages and marketing materials spanning across various websites, including B2B platforms and our corporate sites. In this initiative, I assumed the role of the primary creator for all marketing content and designed two dynamic landing pages. Additionally, I took the lead as the frontend developer, collaborating closely with the backend developer to engineer the opt-in feature. This feature allowed dealers to opt in for an automatic donation with each order, making the project a prime example of successful teamwork and collaboration. </p>

<p><strong>Challenges:</strong> The most substantial challenge revolved around constructing the opt-in component, a task that demanded close coordination with our backend developer and rigorous testing. The successful implementation resulted in seamless handling of opt-ins within the CMS, accompanied by configuration options to enable or disable the feature. Notably, the frontend aspect featured two distinct versions of the component, tailored to the specific needs of different user types.</p>

      </div>
    </div>
  </div>

	<div class="container">
        <div class="row">
            <div class="col-md-6">
			


<p><strong>Key Achievements:</strong> I had the privilege of bringing a beautifully crafted design to life through the creative application of HTML, CSS, and JavaScript. This involved setting a dynamic target date and harnessing the power of JavaScript to perform real-time calculations. I then skillfully integrated these calculations into the webpage by appending the necessary HTML elements, resulting in an engaging and functional countdown widget.<br></p>

			<h3>Frontend Stack:</h3>
			<div class="development-tools"><div class="tool-bubble">HTML5</div><div class="tool-bubble">CSS</div><div class="tool-bubble">JavaScript</div><div class="tool-bubble">jQuery</div></div>

			
            </div>
            <div class="col-md-6">
                	<div class="images-container">
		<img class="pizza-gif" src="/assets/images/gsf-countdown-tracker.png">
		<div class="image-caption">*This image is a screenshot for reference purposes and does not reflect the final product.
	</div>

            </div>
        </div>
    </div>
</div>


</div>

