<div class="contact-container">
<div class="addSpace"></div>
	<h1>Get In Touch</h1>
	<div class="container">
        <div class="row">
            <div class="col-md-6">
        
        

        <form action="https://formspree.io/f/maygaeen"method="POST"> 

        	<div class="form-group">
                <label for="full-name">Full Name:<sup>*</sup></label>
                <input type="text" class="form-control" id="full-name" name="full-name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:<sup>*</sup></label>
                <input type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label class="servicesLabel">Inquiring about services? (Optional)</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="service1" name="services" value="Web Design/Development">
                    <label class="form-check-label" for="service1">Web Design/Development</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="service2" name="services" value="WordPress Site Setup">
                    <label class="form-check-label" for="service2">WordPress Site Setup</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="service3" name="services" value="Web Content Management">
                    <label class="form-check-label" for="service3">Web Content Management</label>
                </div>
                 <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="service3" name="services" value="SEO / Google Ads">
                    <label class="form-check-label" for="service3">SEO / Google Ads</label>
                </div>
            </div>
            <div class="form-group">
                <label for="message">Message:<sup>*</sup></label>
                <textarea placeholder="Additional project details?" class="form-control" id="message" name="message" rows="4" required></textarea>
            </div>
           <div class="center-button"> <button type="submit" class="btn btn-primary">Submit</button></div>
        </form>
            </div>

            <!-- AVAILABILITY / CONTACT INFO -->
            <div class="col-md-6">
            	<div class="gray-section">
            	<img alt="Will Vanderburg WV Logo" style="max-width: 100px;" src="/assets/icons/WV.png">
            	 <p><strong>Next Available:</strong> October 2023.</p>
                <p><strong>Old Fashioned?</strong> You can just send me an <a href="mailto:williamfvanderburg@gmail.com">email</a> or give me a call at <a href="tel:+17047438000">(704) 743-8000</a>. <strong>Want to connect?</strong> Check out my <a target="_blank" href="https://www.linkedin.com/in/will-vanderburg-183941137/">LinkedIn</a>!</p></div>
            </div>
        </div>
    </div>

   </div>