<!-- app.component.html -->

<header>
  <!-- Header content goes here -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Brand/logo -->
    <a class="navbar-brand" routerLink="/"><img alt="Will Vanderburg WV Logo" style="max-width: 50px;" src="/assets/icons/WV.png"></a>
    
    <!-- Toggle button for mobile navigation -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto"> <!-- ml-auto pushes the links to the right -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
</header>

<main>
  <!-- Content for different views will be displayed here -->
  <router-outlet></router-outlet> <!-- This is where route components will be rendered -->
</main>

<footer>
  <!-- Footer content goes here -->
  <div class="signature">
    <p>© 2023 Will Vanderburg. All Rights Reserved. Angular App designed and built by Will Vanderburg.</p>
  </div>
</footer>